[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
pydantic = {extras = ["dotenv"], version = "*"}
pyjwt = "*"
alembic = "*"

[requires]
python_version = "3.6"
