[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pyjwt = "*"
alembic = "*"
python-slugify = {extras = ["unidecode"], version = "*"}

[requires]
python_version = "3.6"
